{% extends "todo/layout.html" %}

{% block body %}

<div class="container-fluid">
  <div class="row">
        <div class="col-md-1"></div>
      <div class="col-md-4  d-flex align-items-center"> <!-- Use col-md-4 to allocate 4 out of 12 columns -->
          <div id="sortable" class="container">
              <div id="newTaskButtonDiv" class="card card-round mb-3" style="max-width: 36rem;  
              box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); border-radius:24px;">
                  <div class="card-body d-flex align-items-stretch justify-content-center">
                      <button id="newTaskButton" type="button" class="btn-round btn-light">
                          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="lightgray" class="bi bi-plus-square" viewBox="0 0 16 16">
                              <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                      </button>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6 d-flex align-items-top"> <!-- Use col-md-8 to allocate 8 out of 12 columns -->
          <div class="container" style="max-width: 700px;">
            <div class="card-round mb-3" style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); border-color: lightgray; padding: 10px; 
            border-radius:24px;">
                <h3 id="chart-title" style="text-align: center;">
                    What YEAR is it!?
                </h3>
              <canvas id="myBarChart" height="150px"></canvas>
            </div>
            <!--TRACKER DIV-->
            <div class="card-round mb-3" style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); border-color: lightgray; padding: 10px; 
            border-radius:24px;">
                <h3 id="tracker-title" style="text-align: center;">
                    Habit Tracker
                </h3>
                <!--habits-->
                <!--displays top 5 things youve done in the DB and how many times-->
                <div id="habit-list">

                </div>
            </div>
          </div>
          
      </div>
      
  </div>
</div>





        {% csrf_token %}

    <script src="static/todo/dragula.js"></script>
    <script src="static/todo/dragula.min.js"></script>
    <script src="static/todo/index.js"></script>

{% endblock %}